# Node / Frontend
front-planificacion/node_modules/
front-planificacion/dist/
front-planificacion/.env
front-planificacion/.env.local
front-planificacion/.env.*.local

# Python / Backend
back-planificacion/__pycache__/
back-planificacion/*.pyc
back-planificacion/*.pyo
back-planificacion/.env
back-planificacion/venv/
back-planificacion/.venv/
back-planificacion/*.egg-info/

# Editor
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Docs y archivos personales
*.xlsx
*.xls
*.docx
*.pdf
